<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.prescient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/prescient_app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="za.co.prescient.activity.WelcomePage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
						
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.LoginPage" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.AdminHomePage" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.ManagerHomePage" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.StaffHomePage" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.AdminFindGuest" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.AdminDisplayGuestList" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="za.co.prescient.activity.AdminDisplayTouchPoints" >
        </activity>
        <activity
                android:label="@string/app_name"
                android:name="za.co.prescient.activity.ListViewActivity"/>
        <activity
                android:label="@string/app_name"
                android:name=".activity.ViewCheckedInGuestList"/>

        <activity
                android:label="@string/app_name"
                android:name="za.co.prescient.activity.ViewCurrentSetup"/>
        <activity android:name=".activity.ChangePassword"/>
        <activity android:name=".activity.ViewTouchPointList"/>
        <activity android:name=".activity.ViewGuestList"/>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
